---
title: Search Page
permalink:
  search: /search/
---

layout: layouts/base.njk

<div class="container">
  <div class="prose prose-zinc dark:prose-invert mb-4">
    <h2 class="mb-3">
      You searched for: "{{ eleventy.serverless.query.query }}"
    </h2>
  </div>
</div>
